a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.footer-content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    max-width: auto;

}

h4 {
    width: max-content;
}

.navbar-items {
    background-color: #e3f2fd
}

.contact-div {
    display: flex;
    justify-content: end;
    align-items: center
}

.contact-btn {
    width: 'auto';
    height: fit-content
}

.body-content {
    background-color: #e3f2fd;
    gap: 2rem
}

.texts {

    height: max-content;
    padding: 8rem 0 0 10rem
}

.appointment-btn {

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3)
}

.footer {
    background-color: #0000004a;
    padding: 0
}

@media (min-width: 992px) {
    #small-screen {
        display: none !important;
    }
}

@media (max-width: 992px) {
    #big-screen {
        display: none !important;
    }

    .texts {
        padding: 10px !important;
        text-align: center !important;
    }

    .Img {
        align-content: center;
    }

}